.env.local
.env
node_modules/
.next/
dist/
build/
.DS_Store
*.log
*.tsbuildinfo

# Prisma
prisma/*.db
prisma/*.db-journal

# Uploadthing
.uploadthing/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Testing
coverage/
.nyc_output/

# Misc
.vercel
